<h3>Edit Issue</h3>
<div class="row">
    <form action="/issues/{{issue._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{issue.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select issue.status}}
                    <option value="open" selected>Open</option>
                    <option value="close">Close</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Message:</h5>
                <textarea id="body" name="body">{{issue.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn blue">
            <a href="/dashboard" class="btn red">Cancel</a>
        </div>
    </form>
</div>